@import "foundation";

body {
	background-color: #f3f3f3;
	color: #555;
	text-align: center;
}

h1 {
	font-weight: 100;
	color: #555;
	margin: 100px 0 0 0;
}

h4 {
	color: #888;
	font-size: 0.8em;
	margin-bottom: 50px;
}

.row.narrow {
	width: 600px;
	text-align: left;

	code {
		color: #333;
	}

}

pre {
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 10px;
}